<div data-ng-show="edit">
  <label for="levellength">Length:</label>
  <input id="levellength" min="40" name="levelLength" max="150" data-ng-model="level.length" type="number" />
  <label for="levelauthor">Your name:</label>
  <input id="levelauthor" name="levelauthor" data-ng-model="level.author" />
  <button class="wide" data-ng-click="edit = false">OK</button>
</div>
<div data-ng-show="!edit" class="adders">
  <div class="buttons">
    <button class="wide" data-ng-click="edit = true">Edit</button>
    <button class="wide" data-ng-click="saveLevel()">Save</button>
  </div>
  <div class="pu-wrapper adder-wrapper">
    <div data-ng-repeat="(p, v) in possiblePowerUps">
      <div class="adder-block" data-ng-class="{'active': isElementActive('powerup', p)}">
        <div class="powerup no-margin sprite-{{p}}" data-ng-click="setElementActive('powerup', p)">
        </div>
      </div>
    </div>
  </div>
  <div class="block-wrapper adder-wrapper">
    <div data-ng-repeat="(b, v) in possibleBlocks">
      <div class="adder-block" data-ng-class="{'active': isElementActive('block', b)}">
        <div class="block no-margin block-{{b}}" data-ng-click="setElementActive('block', b)"></div>
      </div>
    </div>
  </div>

  <div class="other-wrapper adder-wrapper">
    <div data-ng-repeat="(b, v) in possibleObstacles">
      <div class="adder-block" data-ng-class="{'active': isElementActive('obstacle', b)}">
        <div class="block no-margin sprite-{{b}}" data-ng-click="setElementActive('obstacle', b)"></div>
      </div>
    </div>
    <div class="adder-block" data-ng-class="{'active': isElementActive('swarm', true)}">
      <div class="block no-margin sprite-swarm" data-ng-click="setElementActive('swarm', true)"></div>
    </div>
  </div>

  <!-- A link to open in the app. -->
  <div class="openbutton">
    <a href="fb462788903779716://?action=level&name={{level.name}}" class="button">Play</a>
  </div>
</div>
