<div ajax-loader></div>
<div class="top-bar">
  <div class="inner">
    <span class="level-name">Level editor</span>
  </div>
</div>
<div class="row padded">
  <form class="index">
    <input data-ng-model="name" type="text" placeholder="Level name" required />
    <input data-ng-model="author" type="text" placeholder="Your name" required />
    <button class="wide" data-ng-click="tryStepTwo()">Continue</button>
  </form>

  <!-- My levels -->
  <div class="three-three">
    <h1 ng-show="myLevels.length > 0">My levels</h1>
      <div data-ng-repeat="level in myLevels">
        <a class="my-level" data-ng-href="/level/{{level}}">{{level}}</a>
      </div>
    </ul>
  </div>
</div>
