// Just stole a whole bunch of stuff from twitter bootstrap here.
.button,
button {
  text-transform: none;
  -webkit-appearance: none;
  cursor: pointer;
  display: block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  background: $orange;
  color: #000;
  text-shadow: 1px 1px 1px #fff;
  margin: 10px 0;
  font-family: $font;
  &.wide {
    width: 100%;
    display: block;
  }
}
.admin button {
  display: inline-block;
}
