@import 'lib/grids';

.row {
  $zen-column-count: 3;
  $zen-gutter-width: 10px;
  background: #fff;

  @include zen-grid-container;
  width: 90%;
  margin: 0 auto;
}
.top-bar .inner {
  @include zen-grid-container;
  width: 90%;
  margin: 0 auto;
}
.one {
  @include zen-grid-item(1, 1);
  position: fixed;
}
.two-three {
  @include zen-grid-item(2, 2);
}
.three-three {
  @include zen-grid-item(3, 1);
  width: 90%;
  margin: 0 auto;
  float: none;
}
