.sprite-bomb {
  background-image: url(sprite.png);
  background-position: 0px -12px;
  width: 30px;
  height: 30px;
}
.sprite-jumps_pu {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 10px;
  height: 12px;
}
