.sprite-bomb {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 30px;
  height: 30px;
}
.sprite-hole {
  background-image: url(../images/sprite.png);
  background-position: 0px -30px;
  width: 30px;
  height: 30px;
}
.sprite-invincible {
  background-image: url(../images/sprite.png);
  background-position: 0px -60px;
  width: 30px;
  height: 30px;
}
.sprite-jumps_pu {
  background-image: url(../images/sprite.png);
  background-position: 0px -90px;
  width: 30px;
  height: 30px;
}
.sprite-nitro {
  background-image: url(../images/sprite.png);
  background-position: 0px -120px;
  width: 30px;
  height: 30px;
}
.sprite-rock {
  background-image: url(../images/sprite.png);
  background-position: 0px -150px;
  width: 30px;
  height: 30px;
}
.sprite-swarm {
  background-image: url(../images/sprite.png);
  background-position: 0px -180px;
  width: 30px;
  height: 30px;
}
.sprite-wheel {
  background-image: url(../images/sprite.png);
  background-position: 0px -210px;
  width: 30px;
  height: 30px;
}
