@import "vars";
@import "fonts";
@import 'lib/normalize';
@import 'lib/jui';
@import 'sprite';
@import 'dashboard';
@import 'grid';
@import 'button';
@import 'roads';
@import 'ajax';

html {
  height: 100%;
}
body {
  background: lighten($blue, 40%);
  min-height: 100%;
}

.padded {
  margin-top: 38px;
}
form.index {
  padding: 20px 2%;
}
input {
  display: block;
  margin: 10px 0;
  width: 98%;
  height: 26px;
  border: 2px solid $blue;
  font-size: 14px;
}
a.my-level {
  font-family: $font;
  display: block;
  text-decoration: none;
  color: #fff;
  background: $blue;
  margin: 10px auto;
  padding: 6px 12px;
  box-shadow: 2px 2px 0 #333;
}
