<div class="finishline"></div>
<div class="segment" data-ng-cloak data-ng-repeat="road in makeRoads() track by $index">
  <div class="segment-resizer" style="height: {{getHeight($index)}}px" jui:resizable event:resize="roadResized" opt:maxWidth="150" opt:minHeight="30" opt:maxHeight="120" opt:minWidth="150"></div>
  <div class="side-resizer" jui:resizable
      event:resize="sideResized"
      opt:maxWidth="60"
      opt:minHeight="getHeight(road)"
      opt:maxHeight="getHeight(road)"
      opt:minWidth="5"
      data-index="{{$index}}"
      data-side="0">
  </div>
  <div class="side-resizer right" jui:resizable
      event:resize="sideResized"
      opt:maxWidth="60"
      opt:minHeight="getHeight(road)"
      opt:maxHeight="getHeight(road)"
      opt:minWidth="5"
      opt:handles="'w'"
      data-index="{{$index}}"
      data-side="1">
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-side left" ng-attr-height="{{getHeight($index)}}">
    <polygon ng-attr-points="0,0 {{getWidth(0, $index - 1)}},0 {{getWidth(0, $index)}},100 0,100" style="fill:green"></polygon>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-side right" ng-attr-height="{{getHeight($index)}}">
    <polygon ng-attr-points="{{getSvgPoints(1, $index)}}" style="fill:green"></polygon>
  </svg>
  <div ng-if="hasPowerup($index)" class="road-powerup">
    <div class="powerup sprite-{{ powerUp($index) }}" data-ng-click="addElement($index)"></div>
  </div>
  <div class="road-block" ng-if="hasBlock($index)">
    <div class="inside block-{{block($index)}}" data-ng-click="addElement($index)"></div>
  </div>
  <div ng-if="hasSwarm($index)" class="road-swarm">
    <div class="swarm sprite-swarm" data-ng-click="addElement($index)"></div>
  </div>
  <div ng-if="hasObstacle($index)" class="road-obstacle">
    <div class="obstacle sprite-{{obstacle($index)}}"></div>
  </div>
  <div class="inner-drop" data-ng-click="addElement($index)"></div>
  <div class="icon-right icon" data-ng-click="adjustSide($index, 0, 5)"></div>
  <div class="icon-left icon" data-ng-click="adjustSide($index, 0, -5)"></div>
  <div class="icon-right icon right-side" data-ng-click="adjustSide($index, 1, -5)"></div>
  <div class="icon-left icon right-side" data-ng-click="adjustSide($index, 1, 5)"></div>
</div>
